* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A1D8F7;
  }

  .mycard {
border-radius: 15px;
background-color: white;
margin-right: 50%;
padding: 48px 37px 67px 60px;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
  
  
button{
  font-size: 20px;
  color: black;
  background-color: #FC1704;
  border-radius: 20px ;
  width: 30%;
}
.text{
   font-size: 25px;
   border-radius: 20px;
}

p{
 font-size: 25px;
}

label{
 font-size: 20px;
}