*{
    font-size: 20px;
  }
.button{
    font-size: 20px;
    color: black;
    background-color: #FC1704;
    border-radius: 20px ;
    width: 23%;
  }

  

  body{
    background-color: #A1D8F7;
  }