*{
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkblue;
}

button{
  color: black;
  background-color: brown;
  /* font-size: 40px; */
  border-radius: 20px ;
  width: 90%;
  cursor: pointer;
}

button:hover {
  color: rgb(219, 117, 117);
  background-color: white;
  }

  button:active{
   color: darkblue;
  }

  button:visited {
    color: white;
  }

a{
text-decoration: none;
text-align: center;
}

a:hover{
    color: rgb(219, 117, 117);
  }

  a:visited {
    color: white;
  }

  a:active{
    color: darkblue;
  }

input{
  /* font-size: 40px; */
  border-radius: 20px;
  border-color: brown;
  width: 10%;
  text-align: center;
}

.mycard {
    border-radius: 15px;
    background-color: white;
    margin-right: 50%;
    padding: 20px 60px 10px 60px;
    display: block;
    margin: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1,h5{
    text-align: center;
    margin-top: 20px;
  }