*{
    box-sizing: border-box;
    font-size: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkblue;
  }

button{
    color: black;
    background-color: brown;
    /* font-size: 40px; */
    border-radius: 20px ;
    width: 70%;
}

.btnsettings{
   
    font-size: 13px; 
        color: black;
        background-color: brown;
        border-radius: 20px ;
        width: 20%;
        float: right;
}

input{
    /* font-size: 40px; */
    border-radius: 20px;
    border-color: brown;
    width: 70%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .vertical {
    margin-top: 10px;
    float: left;
    width: 80%;
    padding: 0 10px;
  }

  .verticalhc {
    margin-top: 10px;
    float: left;
    width: 30%;
    padding: 0 10px;
  }

  .verticalsettings {
    /* margin-top: 10px; */
    float: left;
    width: 20%;
    padding: 0 0px;
  }

  .horizontal:after {
    content: "";
    display: table;
    clear: both;
  } 

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    background-color: white;
    border:2px solid grey;
    border-radius: 10px;
  }

  .cardsettings {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 14px 18px;
    width: 138%;
    height: 10%;
    
    /* text-align: center; */
    background-color: white;
    border:2px solid grey;
    border-radius: 5px;
  }

  @media screen and (max-width: 600px) {
    .horizontal {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .vertical-center {
    margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
  

